extends base_company
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 | &nbsp;机构管理&nbsp;&nbsp; 
                 
              .col-md-12
               for row, index in data
                form.form-horizontal.form-label-left(role='form',method='post' action='/company/edit/#{row.company_id}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 公司名字 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='company_name',id='company_name',style='width:400px',value='#{row.company_name}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 注册号码 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='company_reg_no',id='company_reg_no',style='width:400px',value='#{row.company_reg_no}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 公司地址 &nbsp; : &nbsp;
                        .col-md-3
                          textarea(rows='4', cols='50',name='company_address',id='company_address',style='width:400px')
                           | #{row.company_address}
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 网站 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='company_website',id='company_website',style='width:400px',value='#{row.company_website}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 联络号码 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='company_phone_no',id='company_phone_no',style='width:400px',value='#{row.company_phone_no}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 联络电邮 &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='company_email',id='company_email',style='width:400px',value='#{row.company_email}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Location &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='location',id='location',style='width:400px',value='#{row.company_location}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 &nbsp;&nbsp;
                        .col-md-9
                          #googleMapCompany(style='width:100%;height:250px;')
                    .form-group
                        .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                          button.btn.btn-primary(type='submit',id="confirm_btn") 确认
                          button.btn.btn-success(type='button',onclick='goBack();') 取消
    // /page content

