extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-6
                h3
                  img(src='/images/system_admin.png',height='35px',width='30px')
                  | &nbsp;雇员管理 
                  a.btn.btn-primary.btn-xs.btn-flata(href='/employee_add')
                      i.fa.fa-plus
                  br
                  br
              .col-md-12
                table#datatable.table.table-striped.table-bordered
                    thead
                      tr
                        th 编号
                        th 姓名
                        th SIM 号码
                        th 电邮
                        th 在职
                        th 公司
                        th 职位
                        th 当前位置
                        th 行动
                    tbody
                      for row, index in data
                        tr
                          td #{index+1}
                          td #{row.employee_name}
                          td #{row.employee_phone_no}
                          td #{row.employee_email}
                          td 
                            if row.employee_status === 'online'
                              | 是
                            else
                              | 否
                          td #{row.company_name}
                          td 
                            if row.employee_level === '1'
                              | 管理
                            else if row.employee_level === '2'
                              | 普通用户
                          td #{row.beacon_location+", "+row.beacon_level}
                          td
                            div(style='display:inline-block')
                                a(href='/employee_details/#{row.employee_id}').btn.btn-sm.btn-info
                                        i.fa.fa-user
                            div(style='display:inline-block')
                                a(href='profile/#{row.employee_id}').btn.btn-sm.btn-primary
                                        i.fa.fa-edit
                             div(style='display:inline-block')
                                a(href='/employee/delete/#{row.employee_id}',onclick="return confirm('Are you sure you want to delete?');").btn.btn-sm.btn-danger
                                        i.fa.fa-remove
                      
            .clearfix
    // /page content

