extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 a(href='/location') &nbsp;地点 |
                 a(href='/location_add') &nbsp;增添地点 |
                 a(href='/floor_plan_list') &nbsp;平面图 |
                 a(href='/floor_plan') &nbsp;增添平面图 |
                  br
                  br
              .col-md-12
                table#datatable.table.table-striped.table-bordered
                    thead
                      tr
                        th ID
                        th 楼层
                        th 平面图
                        th 选项
                    tbody
                      for row, index in data
                        tr
                          td #{index+1}
                          td #{row.floor_name}
                          td 
                            img(src='/#{row.floorplan_img}',height='200px',width='auto')
                          
                          td
                            div(style='display:inline-block')
                                a(href='/floor_plan_detail/#{row.floorplan_id}').btn.btn-sm.btn-primary
                                        i.fa.fa-edit
                             div(style='display:inline-block')
                                a(href='/floor_plan/delete/#{row.floorplan_id}',onclick="return confirm('Are you sure you want to delete?');").btn.btn-sm.btn-danger
                                        i.fa.fa-remove
            .clearfix
    // /page content

