extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .f_content
                    .col-xs-12
                        ul.nav.nav-tabs.bar_tabs
                          li
                            a(href='/building_management') 建筑管理
                          li
                            a(href='/region_management') 区域管理
                          li.active
                            a(href='/group_management') 集团管理
                          li
                            a(href='/category_management') 分类管理
            .row.f_title
              .col-md-6
                h3
                  img(src='/images/building.png',height='30px',width='25px')
                  | &nbsp;组列表&nbsp;&nbsp;
                  a.btn.btn-primary.btn-xs.btn-flata(href='/group_add')
                      i.fa.fa-plus
   
              .col-md-12
                table#datatable.table.table-striped.table-bordered
                    thead
                      tr
                        th 数
                        th 团队名字
                        th 团体简介
                        th 
                    tbody
                      for row, index in data
                        tr
                          td #{index+1}
                          td #{row.group_name}
                          td #{row.group_desc}
                          td
                            div(style='display:inline-block')
                                a(href='/group/edit/#{row.group_id}').btn.btn-sm.btn-primary
                                        i.fa.fa-edit
                             div(style='display:inline-block')
                                a(href='/group/delete/#{row.group_id}',onclick="return confirm('你确定你要删除？');").btn.btn-sm.btn-danger
                                        i.fa.fa-remove
                            
            .clearfix
    // /page content

