extends base_company
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                h2
                 img(src='/images/system_admin.png',height='35px',width='30px')
                 | &nbsp;Group Management&nbsp;&nbsp; 
                 
              .col-md-12
               for row, index in data
                form.form-horizontal.form-label-left(role='form',method='post' action='/group/edit/#{row.group_id}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Group Name &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text', name='group_name',id='group_name',style='width:400px',value='#{row.group_name}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Group Description &nbsp; : &nbsp;
                        .col-md-3
                          input(type='text',name='group_desc',id='group_desc',style='width:400px',value='#{row.group_desc}')
                    .form-group
                        label.control-label.col-md-3.col-sm-3.col-xs-12 Building Name &nbsp; : &nbsp;
                        .col-md-3
                          select(id="building",name="building").col-sm-12
                            option(value="#{row.building_id}") #{row.building_name}
                            option(value="") ------------------------
                            for row, index in building
                              option(value="#{row.building_id}") #{row.building_name}
                    
                    .form-group
                        .col-md-9.col-sm-9.col-xs-12.col-md-offset-3
                          button.btn.btn-primary(type='submit',id="confirm_btn") 确认
                          button.btn.btn-success(type='button',onclick='goBack();') 取消
    // /page content

