extends base_playback
block content 
    .right_col(role='main', style='background-color:#49A8FF')
        .row
          .col-md-12
                .f_panel
                  .f_title
                    .col-xs-12
                        ul.nav.nav-tabs.bar_tabs
                          li
                            a(href='/tracking') 户外追踪
                          li
                            a(href='') 室内跟踪
                          li.active
                            a(href='/path_playback_outdoor') 户外播放
                          li
                            a(href='/path_playback') 室内播放
                    .clearfix
                  .f_content
                    
                    div(role='tabpanel', data-example-id='togglable-tabs')
                          .row
                            // form input mask
                            .col-md-3.col-sm-12.col-xs-12
                              .x_panel
                                .x_title
                                  h2 雇员列表
                                  ul.nav.navbar-right.panel_toolbox
                                  .clearfix
                                .x_content
                                  form.form-horizontal
                                      .control-group
                                        .controls
                                          label(for='start-date') 开始日期:
                                            #datetimepicker1.input-group.date
                                              input.form-control(type='text',id='time1')
                                              span.input-group-addon
                                                span.glyphicon.glyphicon-calendar

                                      .control-group
                                        .controls
                                          label(for='end-date') 结束日期:
                                            #datetimepicker2.input-group.date
                                              input.form-control(type='text',id='time2')
                                              span.input-group-addon
                                                span.glyphicon.glyphicon-calendar
                                  #accordion.accordion(role='tablist', aria-multiselectable='true')
                                    .panel
                                      a#headingOne.panel-heading(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        h4.panel-title 地区
                                      #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                          for row, index in employee
                                            ul
                                              input(name='checkbox#{row.employee_id}',id='checkbox#{row.employee_id}',value='#{row.employee_id}',class="subject-list", type='checkbox',onchange="checkBoxSingle(this)")
                                              | &nbsp;#{row.employee_name+" ("+row.employee_phone_no+")"}
                                  #accordion.accordion(role='tablist', aria-multiselectable='true')
                                    .panel
                                      a#headingOne.panel-heading(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
                                        h4.panel-title 建造
                                      #collapseTwo.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                          for row, index in employee
                                            ul
                                              input(name='checkbox#{row.employee_id}',id='checkbox#{row.employee_id}',value='#{row.employee_id}',class="subject-list", type='checkbox',onchange="checkBoxSingle(this)")
                                              | &nbsp;#{row.employee_name+" ("+row.employee_phone_no+")"}
                                  #accordion.accordion(role='tablist', aria-multiselectable='true')
                                    .panel
                                      a#headingOne.panel-heading(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapse3', aria-expanded='true', aria-controls='collapseOne')
                                        h4.panel-title 组
                                      #collapse3.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                          for row, index in employee
                                            ul
                                              input(name='checkbox#{row.employee_id}',id='checkbox#{row.employee_id}',value='#{row.employee_id}',class="subject-list", type='checkbox',onchange="checkBoxSingle(this)")
                                              | &nbsp;#{row.employee_name+" ("+row.employee_phone_no+")"}
                                  #accordion.accordion(role='tablist', aria-multiselectable='true')
                                    .panel
                                      a#headingOne.panel-heading(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapse4', aria-expanded='true', aria-controls='collapseOne')
                                        h4.panel-title 类别
                                      #collapse4.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                          for row, index in employee
                                            ul
                                              input(name='checkbox#{row.employee_id}',id='checkbox#{row.employee_id}',value='#{row.employee_id}',class="subject-list", type='checkbox',onchange="checkBoxSingle(this)")
                                              | &nbsp;#{row.employee_name+" ("+row.employee_phone_no+")"}
                                  button.btn.btn-primary(type='button',onclick='playbackOutdoor()') 递交


                            .col-md-9.col-sm-12.col-xs-12
                              .x_panel
                                .x_content
                                  .tab-content
                                    input(type='text', name='map_string_load',id='map_string_load',hidden,value='#{maps[0].map_string}')
                                    input(type='text', name='map_string',id='map_string',hidden,value='#{maps[0].map_string}')
                                    #panel-content
                                        #controls(hidden)
                                          select#polyList
                                          button#btnDelete Delete
                                          button(type='button',onclick="refresh();") Save
                                    #googleMapPlayback(style='width:100%;height:700px;')
                                    
                          .row
                              .col-md-12
                                // form date pickers
                                .x_panel
                                  .x_title
                                    h2 时间轴
                                    ul.nav.navbar-right.panel_toolbox
                                    .clearfix
                                  .x_content(style='overflow: auto')
                                    p
                                      #wizard.form_wizard.wizard_horizontal
                                        ul#wizard_steps.wizard_steps
                                         
                                        

                                    //.well
                                      form.form-horizontal
                                        fieldset
                                          .control-group(style='width: 264px')
                                            label#Label1(style='width: 40px') Date :
                                            input(type='date')
                                          .x_content
                                            .row.grid_slider
                                              .col-md-12.col-sm-6.col-xs-12
                                                input#range_31(type='text', value='', name='range')
// /page content


