extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                  div
                    .col-md-12.col-sm-6.col-xs-12
                      .x_panel
                        .x_title
                          h2
                            img(src='/images/system_admin.png',height='35px',width='30px')
                            a(href='/route_management') &nbsp;路径管理 |
                            a(href='/set_route') &nbsp;指定路线 |
                          .clearfix
                        .x_content
                          div(role='tabpanel', data-example-id='togglable-tabs')
                               .col-md-12
                                    table#datatable.table.table-striped.table-bordered
                                        thead
                                          tr
                                            th 编号
                                            th 雇员
                                            th 手机号
                                            th 路径
                                            th 日期
                                            th 时间
                                            
                                        tbody
                                         for row, index in data
                                            
                                            tr
                                              td #{index+1}
                                              td #{row.employee_name}
                                              td #{row.employee_phone_no}
                                              td #{row.route_name}
                                              td #{row.days+"/"+row.months+"/"+row.years}
                                              td #{row.hours+":"+row.minutes+":"+row.seconds}
                                .clearfix


    // /page content

