extends base
block content 
    // page content
    .right_col(role='main',style="background:#49a8ff")
      // top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-12
                  div
                    .col-md-12.col-sm-6.col-xs-12
                      .x_panel
                        .x_title
                          h2
                            img(src='images/system_admin.png',height='35px',width='30px')
                            a(href='/route_management') &nbsp;Route Table |
                            a(href='/set_route') &nbsp;Set Route |
                            a(href='/location') &nbsp;Location |
                            a(href='/location_add') &nbsp;Set Location |
                          .clearfix
                        .x_content
                          div(role='tabpanel', data-example-id='togglable-tabs')
                               .col-md-12
                                    table#datatable.table.table-striped.table-bordered
                                        thead
                                          tr
                                            th No
                                            th Employee
                                            th Phone No
                                            th Route
                                            th Date
                                            th Time
                                            
                                        tbody
                                         for row, index in data
                                            
                                            tr
                                              td #{index+1}
                                              td #{row.employee_name}
                                              td #{row.employee_phone_no}
                                              td #{row.route_name}
                                              td #{row.days+"/"+row.months+"/"+row.years}
                                              td #{row.hours+":"+row.minutes+":"+row.seconds}
                                .clearfix


    // /page content

