extends base_tracking_2
block content 
    .right_col(role='main', style='background-color:#49A8FF')
        .row
          .col-md-12
                .f_panel
                  .f_title
                        ul.nav.nav-tabs.bar_tabs
                          li.active
                            a(href='/tracking') Outdoor Tracking
                          li
                            a(href='/path_playback_outdoor') Outdoor Playback
                          li
                            a(href='/path_playback') Indoor Playback
                          li
                            a(href='/geofencing') Geofencing
                    .clearfix
                  .f_content
                    
                    div(role='tabpanel', data-example-id='togglable-tabs')
                          .row
                            // form input mask
                            .col-md-2.col-sm-12.col-xs-12
                              .x_panel
                                .x_title
                                  h2 Building List
                                  ul.nav.navbar-right.panel_toolbox
                                  .clearfix
                                .x_content
                                    for row, index in building
                                      #accordion.accordion(role='tablist', aria-multiselectable='true')
                                          .panel
                                              a.panel-heading.collapsed(id='acc#{row.building_id}',role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapse#{row.building_id}', aria-expanded='false', aria-controls='collapse#{row.building_id}')
                                                h4.panel-title #{row.building_name}
                                              panel-collapse.collapse.collapse(id='collapse#{row.building_id}',role='tabpanel', aria-labelledby='headingOne')
                                                .panel-body
                                                    ul.list-unstyled
                                                        li.media.event
                                                          a.pull-left.border-aero.profile_thumb
                                                            i.fa.fa-building.aero
                                                          .media-body
                                                            a.title(href='#')
                                                            p Address : #{row.building_add}
                                                            
                                                    a.btn.btn-success.btn-sm(href='/tracking_indoor/#{row.building_id}') Show details
                                                            
                                                              
                                .col-md-3.col-sm-12.col-xs-12
             
                            .col-md-10.col-sm-12.col-xs-12
                                .x_content
                                  .tab-content
                                    script(type='text/javascript').
                                     var maps = [];
                                     var markers = [];
                                     var marks = [];
                                     var floors = "#{floors}".replace(/&quot;/g, '"');
                                          
                                    for row, index in floor_plan
                                        if index === 0
                                         div.tab-pane(id='home#{row.floorplan_id}')
                                            div(id="image-map-dashboard#{row.floorplan_id}" style='height: 400px;margin: 0 auto 10px auto;border: 1px solid #ccc;background: #808080;')
                                            script(type='text/javascript',src='/socket.io/socket.io.js')
                                            script(type='text/javascript').
                                                var floorplan_list = [];
                                                var indexs = "#{index}";
                                                markers[indexs] = new L.FeatureGroup();
                                                var floorplan_id = "#{row.floorplan_id}";
                                                var floorplan = "#{row.markers}".replace(/&quot;/g, '"');
                                                var data = "#{data}".replace(/&quot;/g, '"');
                                                var floorplan_img = "#{row.floorplan_img}";
                                                var emp_no = 0;
                                                var emp_no_id = "no_emp"+floorplan_id;
                                                
                                                
                                                var map_string = 'image-map-dashboard'+floorplan_id;

                                                var dd,man;

                                                maps.push(L.map(map_string, {minZoom: 0,maxZoom: 4,zoom: 0,center: [0, 0],crs: L.CRS.Simple,attributionControl: false}));

                                                maps[indexs].invalidateSize();

                                                var ff = JSON.parse(floorplan);
                                                floorplan_list.push(ff);

                                                //alert("floorplan_list--"+JSON.stringify(floorplan_list));
                                                if(data!=='undefined'){
                                                //alert(data);
                                                dd = JSON.parse(data);
                                                //alert(JSON.stringify(dd));
                                                //alert(dd.length+" record(s) found");
                                                }

                                                //alert("on 2");
                                                L.control.attribution({
                                                  prefix: false
                                                }).addAttribution('').addTo(maps[indexs]);

                                                var w = 5500* 1.4,
                                                h = 2900* 1.1,
                                                //url = '/images/floor_plan.jpg';
                                                url = '/'+floorplan_img;
                                                //alert("on k1");
                                                // calculate the edges of the image, in coordinate space
                                                var southWest = maps[indexs].unproject([0, h], maps[indexs].getMaxZoom() - 1);
                                                var northEast = maps[indexs].unproject([w, 0], maps[indexs].getMaxZoom() - 1);
                                                var bounds = new L.LatLngBounds(southWest, northEast);

                                                // add the image overlay, 
                                                // so that it covers the entire map
                                                L.imageOverlay(url, bounds).addTo(maps[indexs]);

                                                // tell leaflet that the map is exactly as big as the image
                                                maps[indexs].setMaxBounds(bounds);

                                                //var humanMark1,humanMark2,humanMark3;

                                                marker = JSON.parse(floorplan);
                                                //alert("marker-- "+JSON.stringify(marker));
                                                
                                                
                                                    for(var i=0;i<dd.length;i++){
                                                                var num = dd[i].employee_id.toString();
                                                                var name = dd[i].employee_name.toString();
                                                                var d = new Date(dd[i].employee_time);
                                                                  //d.setMinutes(d.getMinutes()+d.getTimezoneOffset());
                                                                var ddate = d.getDate();
                                                                var dmonth = d.getMonth()+1;
                                                                var dyear = d.getFullYear();
                                                                var dhour = d.getHours();
                                                                var dminutes = d.getMinutes();
                                                                var dseconds = d.getSeconds();

                                                                if(ddate < 10){
                                                                    ddate = "0"+ddate;
                                                                }
                                                                if(dmonth < 10){
                                                                    dmonth = "0"+dmonth;
                                                                }

                                                                if(dhour < 10){
                                                                    dhour = "0"+dhour;
                                                                }
                                                                if(dminutes < 10){
                                                                    dminutes = "0"+dminutes;
                                                                }
                                                                if(dseconds < 10){
                                                                    dseconds = "0"+dseconds;
                                                                }

                                                                var mfloors = JSON.parse(floors);
                                                                mhuman = floorplan_list;
                                                                
                                                                for(var j=0;j<maps.length;j++){
                                                                for (k in mhuman[j]) {
                                                                var newdate = ddate+"/"+dmonth+"/"+dyear+" "+dhour+":"+dminutes+":"+dseconds;
                                                                
                                                                //alert("pop0=="+mhuman[j][k].popup);
                                                                var emp_loc_no = 0;
                                                                if(dd[i].employee_location === mhuman[j][k].popup){
                                                                emp_no++;
                                                                emp_loc_no++;
                                                                if (marker !== null && marker.length !== 0) {
                                                                    for (h in marker) {
                                                                    
                                                                    marks[h] = L.marker(marker[h].latlngs, marker[h].options).bindTooltip("<div><b>" + marker[h].popup + "</b>("+emp_loc_no+" employee)</div>",{direction:'top'});

                                                                    maps[indexs].addLayer(marks[h]);

                                                                    }
                                                                    } else {
                                                                    marker = [];
                                                                    }
                                                                }
                                                                
                                                                }
                                                            }
                                                            }
                                                            document.getElementById(emp_no_id).innerHTML = "("+emp_no+" 名员工)";
                                                          

                                        else
                                          div.tab-pane(id='home#{row.floorplan_id}')
                                            div(id="image-map-dashboard#{row.floorplan_id}" style='height: 400px;margin: 0 auto 10px auto;border: 1px solid #ccc;background: #808080;')
                                            script(type='text/javascript',src='/socket.io/socket.io.js')
                                            script(type='text/javascript').
                                                var floorplan_list = [];
                                                var indexs = "#{index}";
                                                markers[indexs] = new L.FeatureGroup();
                                                var floorplan_id = "#{row.floorplan_id}";
                                                var floorplan = "#{row.markers}".replace(/&quot;/g, '"');
                                                var data = "#{data}".replace(/&quot;/g, '"');
                                                var floorplan_img = "#{row.floorplan_img}";
                                                var emp_no = 0;
                                                var emp_no_id = "no_emp"+floorplan_id;
                                                
                                                
                                                var map_string = 'image-map-dashboard'+floorplan_id;

                                                var dd,man;

                                                maps.push(L.map(map_string, {minZoom: 0,maxZoom: 4,zoom: 0,center: [0, 0],crs: L.CRS.Simple,attributionControl: false}));

                                                maps[indexs].invalidateSize();

                                                var ff = JSON.parse(floorplan);
                                                floorplan_list.push(ff);

                                                //alert("floorplan_list--"+JSON.stringify(floorplan_list));
                                                if(data!=='undefined'){
                                                //alert(data);
                                                dd = JSON.parse(data);
                                                //alert(JSON.stringify(dd));
                                                //alert(dd.length+" record(s) found");
                                                }

                                                //alert("on 2");
                                                L.control.attribution({
                                                  prefix: false
                                                }).addAttribution('').addTo(maps[indexs]);

                                                var w = 5500* 1.4,
                                                h = 2900* 1.1,
                                                //url = '/images/floor_plan.jpg';
                                                url = '/'+floorplan_img;
                                                //alert("on k1");
                                                // calculate the edges of the image, in coordinate space
                                                var southWest = maps[indexs].unproject([0, h], maps[indexs].getMaxZoom() - 1);
                                                var northEast = maps[indexs].unproject([w, 0], maps[indexs].getMaxZoom() - 1);
                                                var bounds = new L.LatLngBounds(southWest, northEast);

                                                // add the image overlay, 
                                                // so that it covers the entire map
                                                L.imageOverlay(url, bounds).addTo(maps[indexs]);

                                                // tell leaflet that the map is exactly as big as the image
                                                maps[indexs].setMaxBounds(bounds);

                                                //var humanMark1,humanMark2,humanMark3;

                                                marker = JSON.parse(floorplan);
                                                //alert("marker1-- "+JSON.stringify(marker));
                                                 
                                                
                                                    for(var i=0;i<dd.length;i++){
                                                                var num = dd[i].employee_id.toString();
                                                                var name = dd[i].employee_name.toString();
                                                                var d = new Date(dd[i].path_datetime);
                                                                  //d.setMinutes(d.getMinutes()+d.getTimezoneOffset());
                                                                var ddate = d.getDate();
                                                                var dmonth = d.getMonth()+1;
                                                                var dyear = d.getFullYear();
                                                                var dhour = d.getHours();
                                                                var dminutes = d.getMinutes();
                                                                var dseconds = d.getSeconds();

                                                                if(ddate < 10){
                                                                    ddate = "0"+ddate;
                                                                }
                                                                if(dmonth < 10){
                                                                    dmonth = "0"+dmonth;
                                                                }

                                                                if(dhour < 10){
                                                                    dhour = "0"+dhour;
                                                                }
                                                                if(dminutes < 10){
                                                                    dminutes = "0"+dminutes;
                                                                }
                                                                if(dseconds < 10){
                                                                    dseconds = "0"+dseconds;
                                                                }
                                                                
                                                                var mfloors = JSON.parse(floors);
                                                                mhuman = floorplan_list;
                                                                 
                                                                for(var j=0;j<maps.length;j++){
                                                                for (k in mhuman[j]) {
                                                                var newdate = ddate+"/"+dmonth+"/"+dyear+" "+dhour+":"+dminutes+":"+dseconds;

                                                                var emp_loc_no = 0;
                                                                if(dd[i].employee_location === mhuman[j][k].popup){
                                                                emp_no++;
                                                                emp_loc_no++;
                                                                if (marker !== null && marker.length !== 0) {
                                                                    for (h in marker) {
                                                                    marks[h] = L.marker(marker[h].latlngs, marker[h].options).bindTooltip("<div><b>" + marker[h].popup + "</b>("+emp_loc_no+" employee)</div>",{direction:'top'});

                                                                    maps[indexs].addLayer(marks[h]);

                                                                    }
                                                                    } else {
                                                                    marker = [];
                                                                    }
                                                                }

                                                                }
                                                            }
                                                            }
                                                            document.getElementById(emp_no_id).innerHTML = "("+emp_no+" 名员工)";
                                                           
                                    div.tab-pane.active(id='outdoor')
                                        input(type='text', name='map_string_load',id='map_string_load',hidden,value='#{maps[0].map_string}')
                                        input(type='text', name='map_string',id='map_string',hidden,value='#{maps[0].map_string}')
                                        #panel-content
                                            #controls(hidden)
                                              select#polyList
                                              button#btnDelete Delete
                                              button(type='button',onclick="refresh();") Save
                                        #googleMapTracking(style='width:100%;height:700px;')
