extends base_tracking_2
block content 
    .right_col(role='main', style='background-color:#49A8FF')
        .row
          #modal_btn(hidden='true')
          #modal_list
          .col-md-12
                .f_panel
                  .f_title
                     h3
                       img(src='images/tracking.png',height='35px',width='30px')
                       | &nbsp;实时考勤
                    .clearfix
                  .f_content
                    .col-xs-12
                        ul.nav.nav-tabs.bar_tabs
                          li
                            a(href='/tracking') Outdoor Tracking
                          li.active
                            a(href='/tracking_indoor') Indoor Tracking
                          li
                            a(href='/path_playback_outdoor') Outdoor Playback
                          li
                            a(href='/path_playback') Indoor Playback
                    div(role='tabpanel', data-example-id='togglable-tabs')
                          .row
                            // form input mask
                            .col-md-3.col-sm-12.col-xs-12
                              .x_panel
                                .x_title
                                  h2 雇员列表
                                  ul.nav.navbar-right.panel_toolbox
                                  .clearfix
                                .x_content
                                  #accordion.accordion(role='tablist', aria-multiselectable='true')
                                    .panel
                                      a#headingOne.panel-heading(role='tab', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        h4.panel-title 员工表
                                      #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                                        .panel-body
                                          //ul
                                            //input(name='showall',id='showall',value='0',class="subject-list", type='checkbox',onchange="showAll(this)")
                                            //| &nbsp;Show All
                                          for row, index in employee
                                            ul
                                              input(name='checkbox#{row.employee_id}',id='checkbox#{row.employee_id}',value='#{row.employee_id}',class="subject-list", type='checkbox',onchange="tracking(this)")
                                              | &nbsp;#{row.employee_name+" ("+row.employee_phone_no+")"}
                                .col-md-3.col-sm-12.col-xs-12
                              .x_panel
                                .x_title
                                  h2 显示表
                                  ul.nav.navbar-right.panel_toolbox
                                  .clearfix
                                .x_content
                                  .col-xs-12
                                    // required for floating
                                    // Nav tabs
                                    ul.nav.nav-tabs.tabs-left
                                      for row, index in floor_plan
                                        li
                                          a(href='#home#{row.floorplan_id}', data-toggle='tab',id='#{row.floorplan_id}')
                                            | #{row.floor_name} 楼层
                                            label(id='no_emp#{row.floorplan_id}')
                                        
                                           
                            .col-md-9.col-sm-12.col-xs-12
                                .x_content
                                  .tab-content
                                    script(type='text/javascript').
                                     var maps = [];
                                     var markers = [];
                                     var marks = [];
                                     var button="",modal="";
                                     var floors = "#{floors}".replace(/&quot;/g, '"');
                                          
                                    for row, index in floor_plan
                                        if index === 0
                                         div.tab-pane.active(id='home#{row.floorplan_id}')
                                            div(id="image-map-dashboard#{row.floorplan_id}" style='height: 400px;margin: 0 auto 10px auto;border: 1px solid #ccc;background: #808080;')
                                            script(type='text/javascript',src='/socket.io/socket.io.js')
                                            script(type='text/javascript').
                                                var floorplan_list = [];
                                                var indexs = "#{index}";
                                                markers[indexs] = new L.FeatureGroup();
                                                var floorplan_id = "#{row.floorplan_id}";
                                                var floorplan = "#{row.markers}".replace(/&quot;/g, '"');
                                                var data = "#{data}".replace(/&quot;/g, '"');
                                                var floorplan_img = "#{row.floorplan_img}";
                                                var emp_no = 0;
                                                var emp_no_id = "no_emp"+floorplan_id;
                                                
                                                
                                                var map_string = 'image-map-dashboard'+floorplan_id;

                                                var dd,man;

                                                maps.push(L.map(map_string, {minZoom: 0,maxZoom: 4,zoom: 0,center: [0, 0],crs: L.CRS.Simple,attributionControl: false}));

                                                maps[indexs].invalidateSize();

                                                var ff = JSON.parse(floorplan);
                                                floorplan_list.push(ff);

                                                //alert("floorplan_list--"+JSON.stringify(floorplan_list));
                                                if(data!=='undefined'){
                                                //alert(data);
                                                dd = JSON.parse(data);
                                                //alert(JSON.stringify(dd));
                                                //alert(dd.length+" record(s) found");
                                                }

                                                //alert("on 2");
                                                L.control.attribution({
                                                  prefix: false
                                                }).addAttribution('').addTo(maps[indexs]);

                                                var w = 5500* 1.4,
                                                h = 2900* 1.1,
                                                //url = '/images/floor_plan.jpg';
                                                url = '/'+floorplan_img;
                                                //alert("on k1");
                                                // calculate the edges of the image, in coordinate space
                                                var southWest = maps[indexs].unproject([0, h], maps[indexs].getMaxZoom() - 1);
                                                var northEast = maps[indexs].unproject([w, 0], maps[indexs].getMaxZoom() - 1);
                                                var bounds = new L.LatLngBounds(southWest, northEast);

                                                // add the image overlay, 
                                                // so that it covers the entire map
                                                L.imageOverlay(url, bounds).addTo(maps[indexs]);

                                                // tell leaflet that the map is exactly as big as the image
                                                maps[indexs].setMaxBounds(bounds);

                                                //var humanMark1,humanMark2,humanMark3;

                                                marker = JSON.parse(floorplan);
                                                //alert("marker-- "+JSON.stringify(marker));
                                                
                                                
                                                    for(var i=0;i<dd.length;i++){
                                                                var num = dd[i].employee_id.toString();
                                                                var name = dd[i].employee_name.toString();
                                                                var d = new Date(dd[i].employee_time);
                                                                  //d.setMinutes(d.getMinutes()+d.getTimezoneOffset());
                                                                var ddate = d.getDate();
                                                                var dmonth = d.getMonth()+1;
                                                                var dyear = d.getFullYear();
                                                                var dhour = d.getHours();
                                                                var dminutes = d.getMinutes();
                                                                var dseconds = d.getSeconds();

                                                                if(ddate < 10){
                                                                    ddate = "0"+ddate;
                                                                }
                                                                if(dmonth < 10){
                                                                    dmonth = "0"+dmonth;
                                                                }

                                                                if(dhour < 10){
                                                                    dhour = "0"+dhour;
                                                                }
                                                                if(dminutes < 10){
                                                                    dminutes = "0"+dminutes;
                                                                }
                                                                if(dseconds < 10){
                                                                    dseconds = "0"+dseconds;
                                                                }

                                                                var mfloors = JSON.parse(floors);
                                                                mhuman = floorplan_list;
                                                                
                                                                for(var j=0;j<maps.length;j++){
                                                                for (k in mhuman[j]) {
                                                                var newdate = ddate+"/"+dmonth+"/"+dyear+" "+dhour+":"+dminutes+":"+dseconds;
                                                                
                                                                //alert("pop0=="+mhuman[j][k].popup);
                                                                var emp_loc_no = 0;
                                                                if(dd[i].employee_location === mhuman[j][k].popup){
                                                                emp_no++;
                                                                emp_loc_no++;
                                                                if (marker !== null && marker.length !== 0) {
                                                                    for (h in marker) {
                                                                    
                                                                    marks[h] = L.marker(marker[h].latlngs, marker[h].options).bindTooltip("<div><b>" + marker[h].popup + "</b>("+emp_loc_no+" 名员工)</div>",{direction:'top'});
                                                                    button += '<button id="btn'+num+'" data-toggle="modal" data-target="#myModal'+num+'"></button>';
                                                                    
                                                                    modal += '<div class="modal fade" id="myModal'+num+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">'+
                                                                                        '<div class="modal-dialog" role="document">'+
                                                                                          '<div class="modal-content">'+
                                                                                            '<div class="modal-header">'+
                                                                                              '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                                                                              '<h4 class="modal-title" id="myModalLabel">Employee List</h4>'+
                                                                                            '</div>'+
                                                                                            '<div class="modal-body">'+
                                                                                              '<ul class="list-unstyled">'+
                                                                                                    '<li class="media event">'+
                                                                                                        '<a class="pull-left">'+
                                                                                                          '<img src="/'+dd[i].employee_image+'" height="40" width="40">'+
                                                                                                        '</a>'+
                                                                                                        '<div class="media-body">'+
                                                                                                          '<a class="title" href="#">'+dd[i].employee_name+'</a>'+
                                                                                                          '<p>最后的位置: '+dd[i].employee_time+'</p>'+
                                                                                                          '</p>'+
                                                                                                        '</div>'+
                                                                                                      '</li></ul>'+
                                                                                            '</div>'+
                                                                                            '<div class="modal-footer">'+
                                                                                              '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
                                                                                            '</div></div></div></div>';
                                                                                    
                                                                    document.getElementById('modal_btn').innerHTML = button;
                                                                    document.getElementById('modal_list').innerHTML = modal;
                                                                    marks[h].on('click', function(event) {
                                                                        
                                                                        var btn = document.getElementById("btn"+num);
                                                                        btn.click();
                                                                      });
                                                                    maps[indexs].addLayer(marks[h]);

                                                                    }
                                                                    } else {
                                                                    marker = [];
                                                                    }
                                                                }
                                                                
                                                                }
                                                            }
                                                            }
                                                            document.getElementById(emp_no_id).innerHTML = "("+emp_no+" 名员工)";
                                                          

                                        else
                                          div.tab-pane(id='home#{row.floorplan_id}')
                                            div(id="image-map-dashboard#{row.floorplan_id}" style='height: 400px;margin: 0 auto 10px auto;border: 1px solid #ccc;background: #808080;')
                                            script(type='text/javascript',src='/socket.io/socket.io.js')
                                            script(type='text/javascript').
                                                var floorplan_list = [];
                                                var indexs = "#{index}";
                                                markers[indexs] = new L.FeatureGroup();
                                                var floorplan_id = "#{row.floorplan_id}";
                                                var floorplan = "#{row.markers}".replace(/&quot;/g, '"');
                                                var data = "#{data}".replace(/&quot;/g, '"');
                                                var floorplan_img = "#{row.floorplan_img}";
                                                var emp_no = 0;
                                                var emp_no_id = "no_emp"+floorplan_id;
                                                
                                                
                                                
                                                var map_string = 'image-map-dashboard'+floorplan_id;

                                                var dd,man;

                                                maps.push(L.map(map_string, {minZoom: 0,maxZoom: 4,zoom: 0,center: [0, 0],crs: L.CRS.Simple,attributionControl: false}));

                                                maps[indexs].invalidateSize();

                                                var ff = JSON.parse(floorplan);
                                                floorplan_list.push(ff);

                                                //alert("floorplan_list--"+JSON.stringify(floorplan_list));
                                                if(data!=='undefined'){
                                                //alert(data);
                                                dd = JSON.parse(data);
                                                //alert(JSON.stringify(dd));
                                                //alert(dd.length+" record(s) found");
                                                }

                                                //alert("on 2");
                                                L.control.attribution({
                                                  prefix: false
                                                }).addAttribution('').addTo(maps[indexs]);

                                                var w = 5500* 1.4,
                                                h = 2900* 1.1,
                                                //url = '/images/floor_plan.jpg';
                                                url = '/'+floorplan_img;
                                                //alert("on k1");
                                                // calculate the edges of the image, in coordinate space
                                                var southWest = maps[indexs].unproject([0, h], maps[indexs].getMaxZoom() - 1);
                                                var northEast = maps[indexs].unproject([w, 0], maps[indexs].getMaxZoom() - 1);
                                                var bounds = new L.LatLngBounds(southWest, northEast);

                                                // add the image overlay, 
                                                // so that it covers the entire map
                                                L.imageOverlay(url, bounds).addTo(maps[indexs]);

                                                // tell leaflet that the map is exactly as big as the image
                                                maps[indexs].setMaxBounds(bounds);

                                                //var humanMark1,humanMark2,humanMark3;

                                                marker = JSON.parse(floorplan);
                                                //alert("marker1-- "+JSON.stringify(marker));
                                                 
                                                
                                                    for(var i=0;i<dd.length;i++){
                                                                var num = dd[i].employee_id.toString();
                                                                var name = dd[i].employee_name.toString();
                                                                var d = new Date(dd[i].path_datetime);
                                                                  //d.setMinutes(d.getMinutes()+d.getTimezoneOffset());
                                                                var ddate = d.getDate();
                                                                var dmonth = d.getMonth()+1;
                                                                var dyear = d.getFullYear();
                                                                var dhour = d.getHours();
                                                                var dminutes = d.getMinutes();
                                                                var dseconds = d.getSeconds();

                                                                if(ddate < 10){
                                                                    ddate = "0"+ddate;
                                                                }
                                                                if(dmonth < 10){
                                                                    dmonth = "0"+dmonth;
                                                                }

                                                                if(dhour < 10){
                                                                    dhour = "0"+dhour;
                                                                }
                                                                if(dminutes < 10){
                                                                    dminutes = "0"+dminutes;
                                                                }
                                                                if(dseconds < 10){
                                                                    dseconds = "0"+dseconds;
                                                                }
                                                                
                                                                var mfloors = JSON.parse(floors);
                                                                mhuman = floorplan_list;
                                                                 
                                                                for(var j=0;j<maps.length;j++){
                                                                for (k in mhuman[j]) {
                                                                var newdate = ddate+"/"+dmonth+"/"+dyear+" "+dhour+":"+dminutes+":"+dseconds;

                                                                var emp_loc_no = 0;
                                                                if(dd[i].employee_location === mhuman[j][k].popup){
                                                                emp_no++;
                                                                emp_loc_no++;
                                                                if (marker !== null && marker.length !== 0) {
                                                                    for (h in marker) {
                                                                    marks[h] = L.marker(marker[h].latlngs, marker[h].options).bindTooltip("<div><b>" + marker[h].popup + "</b>("+emp_loc_no+" 名员工)</div>",{direction:'top'});
                                                                    button += '<button id="btn'+num+'" data-toggle="modal" data-target="#myModal'+num+'"></button>';
                                                                        
                                                                    modal += '<div class="modal fade" id="myModal'+num+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">'+
                                                                                        '<div class="modal-dialog" role="document">'+
                                                                                          '<div class="modal-content">'+
                                                                                            '<div class="modal-header">'+
                                                                                              '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                                                                                              '<h4 class="modal-title" id="myModalLabel">Employee List</h4>'+
                                                                                            '</div>'+
                                                                                            '<div class="modal-body">'+
                                                                                              '<ul class="list-unstyled">'+
                                                                                                    '<li class="media event">'+
                                                                                                        '<a class="pull-left">'+
                                                                                                          '<img src="/'+dd[i].employee_image+'" height="40" width="40">'+
                                                                                                        '</a>'+
                                                                                                        '<div class="media-body">'+
                                                                                                          '<a class="title" href="#">'+dd[i].employee_name+'</a>'+
                                                                                                          '<p>最后的位置: '+dd[i].employee_time+'</p>'+
                                                                                                          '</p>'+
                                                                                                        '</div>'+
                                                                                                      '</li></ul>'+
                                                                                            '</div>'+
                                                                                            '<div class="modal-footer">'+
                                                                                              '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
                                                                                            '</div></div></div></div>';
                                                                    document.getElementById('modal_btn').innerHTML = button;
                                                                    document.getElementById('modal_list').innerHTML = modal;
                                                                    marks[h].on('click', function(event) {
                                                                        
                                                                        var btn = document.getElementById("btn"+num);
                                                                        btn.click();
                                                                      });
                                                                    maps[indexs].addLayer(marks[h]);

                                                                    }
                                                                    } else {
                                                                    marker = [];
                                                                    }
                                                                }

                                                                }
                                                            }
                                                            }
                                                            document.getElementById(emp_no_id).innerHTML = "("+emp_no+" 名员工)";        
                                                                             